#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.traffic-light {
  width: 100px;
  padding: 20px;
  border-radius: 10px;
  background: #333;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.light {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  border-radius: 50%;
  background: #fff;

}

.light.redColor.active {
  background: red;
}

.light.yellowColor.active {
  background: yellow;
}

.light.greenColor.active {
  background: green;
}